<%= provide(:profile,"active")
provide(:title,"Profile") %>

    <section class="container">
        <div class="row">
            <div class="col-md-3">
                <h2>Riku Kiranatama</h2>
                <img src="http://www.8opon.pl/images/business_user_big.png" class="img-thumbnail img-circle profile">
            </div>
            <div class="col-sm-9 col-md-9">
                <div class="table-responsive">
                    <table class="table table-hover table-striped">
                        <tbody>
                            <tr>
                                <td><b>Nama</b></td>
                                <td>Riku Kiranatama</td>
                            </tr>
                            <tr>
                                <td><b>Tempat,Tanggal Lahir</b></td>
                                <td>Bandung,7 Oktober 1989</td>
                            </tr>
                            <tr>
                                <td><b>Jenis Kelamin</b></td>
                                <td>Pria</td>
                            </tr>
                            <tr>
                                <td><b>Alamat Domisili</b></td>
                                <td>Jl.Soekarno-Hatta No.104</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>